Documentation/Stop_Motion.aux
Documentation/Stop_Motion.lof
Documentation/Stop_Motion.log
Documentation/Stop_Motion.lot
Documentation/Stop_Motion.synctex.gz
Documentation/Stop_Motion.toc
Documentation/Stop_Motion.blg
Documentation/Stop_Motion.bbl